exportPattern("^[[:alpha:]]+")
import(jmvcore)
import(ggplot2)
import(magrittr)
import(dplyr)
import(hrbrthemes)
import(scales)
import(ggrepel)
import(WRS2)
import(qqplotr)
import(psych)
import(rcompanion)
import(effectsize)
import(vcd)
import(ggalluvial)
import(cowplot)
import(ggridges)
import(latex2exp)
import(DescTools)
